@import url("https://fonts.googleapis.com/css?family=Ubuntu:700");


body {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 13px;
  color: #4c6a86;
}

.game-wrap {
  max-width: 400px;
  margin: 60px auto 0;
  padding: 20px 20px 30px;
  border: 1px solid #79cadc;
  box-sizing: border-box;
  box-shadow: 1px 6px 30px 0 rgba(#79cadc, 0.4);

  @media (max-width: 480px) {
    margin-top: 10px;
  }

  button {
    outline: 0;
    border: 0;
    background: transparent no-repeat center;
    background-size: cover;
  }

  .piece-chooser-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.95);
    z-index: 9;
    padding: 60px 20px 20px;
    box-sizing: border-box;
    text-align: center;

    transform: translateY(0);
    transition: all 0.2s ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-name: slideFadeUp;

    &.inactive {
      animation-name: slideFadeDown;
    }

    h1 {
      font-size: 21px;
      margin: 36px 0;
    }

    .piece-chooser {
      display: flex;
      justify-content: center;
      margin: 36px 0;

      span {
        margin: auto 15px;
        color: #b1bbc6;
        font-size: 24px;
      }
      input[type=text] {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        text-align: center;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: "Ubuntu";
        color: #4c6a86;
      }
    }

    button {
      width: 64px;
      height: 64px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.15);
      }

      &.side-x {
        background-image: url(images/x.png);
      }

      &.side-o {
        background-image: url(images/o.png);
      }
    }
    .start-button {
      font-size: 13px;
      border: 0.1px solid #8dbdbf;
      border-radius: 4px;
      height: auto;
      cursor: pointer;
      width: 105px;
      padding: 4px 0;
      font-family: "Ubuntu";
      color: #4c6a86;
    }
  }
}

.board-wrap {
  margin: 40px 10px;
  .main-board {
    border-radius: 4px;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: minmax(125px, auto);
  }

  .main-board-three {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .main-board-four {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  .main-board-five {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }

  .board-row {
    display: flex;
    width: 100%;
    border: ridge;

    &:last-child .square {
      border-bottom: 0;
    }

    .square {
      width: 100%;
      position: relative;
      cursor: pointer;
      background-size: 50% 47%;
      padding: 0;
      margin: 0;

      &:last-child {
        border-right: 0;
      }

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

    .square-x,
    .square-o {
      cursor: auto;
    }

    .square-x {
      background-image: url(images/x.png);
      padding: 5px 0px;
    }

    .square-o {
      background-image: url(images/o.png);
      padding: 5px 0px;
    }
  }
}
.ReactModalPortal{
  .ReactModal__Overlay{
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 20vh;
    display: flex;
  }
  .eernRL {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 300px;
    position: relative;
    margin: 0 auto;
    top: 10%;
    right: auto;
    bottom: auto;
    min-width: 10vh;
    max-width: 50vh;
    display: flex;

  .iLdbUR {
    font-size: 13px;
    border: 0.1px solid #d7eeef;
    border-radius: 4px;
    height: auto;
    cursor: pointer;
    width: 80px;
    padding: 4px 0;
    font-family: "Ubuntu";
    color: #4c6a86;

    &:hover {
      transform: scale(1.05);
    }
  }
}
}
